.dropDownContainer {
  width: 100%;
  height: 36px;
}

.carrot {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.dropdownButton {
  background-color: #1c1f25;
  border: 1px solid #5b6372;
  width: 100%;
  font-size: 14px;
  padding-left: 9px;
  height: 36px;
  color: #fff;
  border-radius: 4px;
  word-wrap: break-word;
}

.dropdownButton:hover {
  cursor: pointer;
}

.dropdownActive {
  background-color: #1c1f25;
  position: absolute;
  border: 1px solid #5b6372;
  width: 141px;
  max-height: 90px;
  overflow-y: scroll;
  padding: 0;
  border-radius: 4px;
  margin-top: 2px;
}

.dropdownItem {
  padding: 9px;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  border: 0;
  font-size: 14px;
  color: #fff;
}

.dropdownItem:hover {
  background: rgb(60, 66, 77, 0.5);
  cursor: pointer;
}

.optionContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4px;
  white-space: nowrap;
  overflow: auto;
}

.showHelperText {
  font-size: 10px;
  color: #fff;
  padding: 4px;
}

.hideHelperText {
  display: none;
}
