.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 720px;
  height: 383px;
  display: flex;
}

.column1, .column2, .column3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.column1, .column3 {
  width: 30%;
}

.column2 {
  width: 40%;
}

.partsColumn {
  display: flex;
  flex-direction: column;
  height: 42%;
  width: 141px;
  justify-content: space-between;
  margin-top: 30px;
}

.bottomColumn {
  display: flex;
  flex-direction: column;
  height: 24%;
  width: 141px;;
  justify-content: space-between;
  margin: 30px;
}

.createButton {
  height: 33px;
  font-size: 14px;
  background-color: #0094FF;
  border: 1px solid #0094FF;
  border-radius: 4px;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.createButton:hover {
  cursor: pointer;
}

.canvas {
  overflow: hidden;
  border-radius: 4px;
  width: 720px;
  height: 383px;
}
