.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.button {
  height: 33px;
  font-size: 16px;
  background-color: #0094ff;
  border: 1px solid #0094ff;
  border-radius: 6px;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  width: 100%;
  cursor: pointer;
  border: 1px solid #5b6372;
  width: 100%;
  font-size: 14px;
  padding: 0 12px;
  height: 36px;
  text-align: center;
}

.fromIdFrom {
  display: flex;
  height: 33px;
  font-size: 16px;
  background-color: #1c1f25;
  border-radius: 6px;
  border: 1px solid #5b6372;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  width: 100%;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.fromIdFrom button {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0 12px;
  height: 100%;
  display: block;
  cursor: pointer;
  text-align: center;
  outline: none;
  display: inline-block;
  width: auto;
  width: 100px;
}

.fromIdFrom button:hover {
  background: #5b6372;
}

.axieIdInput {
  background-color: #1c1f25;
  border: 0px none;
  width: 100%;
  font-size: 14px;
  padding: 0 9px;
  height: 30px;
  line-height: 30px;
  min-width: 80px;
  width: calc(100% - 100px);
  display: inline-block;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.selectRandom {
  background-color: #1c1f25;
  border-color: #5b6372;
  text-align: left;
}

.selectRandom:hover {
  background-color: #5b6372;
}

.canvas {
  border-radius: 6px;
  width: 720px;
  height: 383px;
  margin-left: -100px;
}

.partsColumn {
  position: absolute;
  display: flex;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 11;
  padding: 6px;
  width: 230px;
  flex-wrap: wrap;
  align-content: space-between;
}

.bodyparts {
  width: 100%;
}

.bodyparts > div {
  margin-bottom: 6px;
  height: auto;
  overflow: hidden;
}

.animation {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .partsColumn {
    padding: 12px;
    width: 100%;
    height: auto;
    display: inline-block;
    position: static;
  }

  .canvas {
    height: 0px;
    padding-bottom: 100%;
    margin: 0;
  }

  .container {
    height: auto;
  }

  .animation {
    margin-top: 12px;
  }

  .bodyparts > div {
    margin-bottom: 12px;
  }
}
