.dropDownContainer {
  width: 100%;
  height: 36px;
}

.carrot {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.dropdownButton {
  background-color: #1c1f25;
  border: 1px solid #5b6372;
  width: 100%;
  font-size: 14px;
  padding-left: 12px;
  height: 36px;
  color: #fff;
  border-radius: 4px;
  word-wrap: break-word;
}

.dropdownButton:hover {
  cursor: pointer;
}

.dropdownActive {
  background-color: #1c1f25;
  position: absolute;
  /* transform: translate3d(0px, 78.5px, 0px); */
  border: 1px solid #5b6372;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0;
  border-radius: 4px;
  margin-top: 2px;
  transform: translate3d(0px, -130.5px, 0px);
  z-index: 99;
}

.dropdownItem {
  padding: 9px 0px 9px 12px;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  border: 0;
  font-size: 14px;
  color: #fff;
}

.optionContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 12px;
  overflow: hidden;
}

.dropdownItem:hover {
  background-color: rgb(60, 66, 77, 0.5);
  cursor: pointer;
}

.previewColorContainer {
  display: flex;
  gap: 12px;
}

.helperText {
  font-size: 10px;
  color: #fff;
  padding: 6px;
}
