.directions {
  color: #fff;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100%; */
  z-index: 10;
  padding: 6px;
}

.key {
  border: solid 1px #5c627e;
  color: #5c627e;
  border-bottom-width: 2px;
  border-radius: 4px;
  padding: 1px 5px;
  font-size: 11px;
  line-height: 21px;
  font-weight: 700;
}

.text {
  color: #5c627e;
  line-height: 21px;
}

@media screen and (max-width: 600px) {
  .directions span {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .directions {
    display: none;
    top: 0;
    bottom: initial;
  }
}
