html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #282B39;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

* {
  box-sizing: border-box;
}
