html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #282B39;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
